
<%= image_tag "logo.png" , width: '300', height: '100'%>
<div class="row">
  <div class="col-lg-6 offset-lg-3 mt-sm-1">
    <div class="parent7">
      <div class="field1">
        <label style='margin: auto 40px;font-size:25px;line-height:30px'>Thanks your data has been submitted.</label><br />
      </div>
      <div class="p-red1">
        <div style="text-align:right;display:flex;align-items:center;justify-content:space-between;height:100%;flex-direction:row-reverse">
          <%# <span class="next" onclick="showNext7(this);">Next</span> %>
        </div>
      </div>
    </div>
  </div>
</div>