/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   /* background-color: rgba(218, 214,214, 0.5); */
   background-image: url('backgroundimage.jpeg');
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
 }

 .no-flex {
   display: flex;
 }
 td {
   border: solid 1px black;
 }

.hidden {
   display: none;
 }

 video {
  width: 100% !important;
  height: 488px !important;
 }

 #my_camera {
  width: 100% !important;
  height: 488px !important;
 }

 #my_camera img {
  width: 83%;
  height: 488px;
 }

 span.next {
  padding: 5px;
  cursor: pointer;

  color: white;
  font-size: 20px;
  margin-right: 22px;
 }

 .prev {
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-right: 22px;
   color: #cecdcd !important;
 }

 .start {
  padding: 5px;
  cursor: pointer;

  color: white;
  font-size: 20px;
  margin-right: 22px;
 }
 .prev:hover {
   color: white !important;
 }

 .rad-div:hover {
   background-color: rgba(218, 214,214, 0.5);
 }

 .active-radio {
   background-color: rgb(207, 229, 255);
 }

 .active-dark {
   background-color: #1776eb !important;
 }

 .box {
  border: solid 1px blue;
  padding: 20px 38px;
  cursor: pointer;
 }

 .box-dark {
   background-color: rgb(207, 229, 255);
 }
.field1 {
  background-color: white;padding:37px 0px;margin-bottom:0px
}

.p-red1 {
  top: -5px;height: 44px;background: red;margin: 0px auto;
}

.mt-sm-1 {
  margin-top: 3rem !important;
}

.margin-23-auto{
  margin: 0px 40px;
}

.profile_img {
  position: absolute;
    left: 85px;
    top: 98px;
    width: 682px;
    height: 488px;
    
}

.special_btn {
  cursor: pointer;
  padding: 10px 30px;
  background: white;
  border: 1px solid blue;
  border-radius: 5px;
  width: 100%;
  color: white;
  margin-top: 20px;
 }

 @media only screen and (max-width: 600px) {

  .no-flex {
    display: inline-block;
  }

  .logo {
    display: none;
  }
   .field1{
    height: 90vh;
    display: flex;
    align-items: center;
   }
   .p-red1 {
     width: 100%;
   }

   .profile_img {
      position: absolute;
      /* left: 30%; */
      /* top: 282px; */
      /* width: 662px; */
      top: 37%;
      width: 320px;
      left: 45px;
      height: 239px;
    }

    video {
      width: 332px !important;
      height: 340px !important;
    }

    #my_camera {
      height: 305px !important;
    }
   .row1 {
     margin-top: 0px !important;
   }

   .mt-sm-1 {
     margin-top: 1rem !important;
   }

   .mt-5 {
     margin-top: 0px !important;
   }

   .margin-23-auto {
     margin: 0px 23px;
   }

   #my_camera img {
    width: 83%;
    margin-top: 50px;
    height: 238px !important;
   }

   .special_btn {
    cursor: pointer;
    padding: 10px 30px;
    background: white;
    border: 1px solid blue;
    border-radius: 5px;
    width: 100%;
    color: blue;
    margin-top: 20px;
   }

   .box {
    border: solid 1px blue;
    padding: 20px 38px;
    cursor: pointer;
    width: 134px;
    margin-top: 13px;
   }

   .flex-column {
    flex-direction: column;
    align-items: center;
   }
 }


 @media(max-width: 375px){

  video {
    height: 273px !important;
    width: 93.5% !important;
  }

  .no-flex {
    display: inline-block;
  }

  .profile_img {
    position: absolute;
    /* left: 30%; */
    /* top: 282px; */
    /* width: 662px; */
    top: 37%;
    width: 320px;
    left: 29px;
    height: 239px;
  }



  /*  */


  .logo {
    display: none;
  }
   .field1{
    height: 90vh;
    display: flex;
    align-items: center;
   }
   .p-red1 {
     width: 100%;
   }
    

    #my_camera {
      height: 305px !important;
    }
   .row1 {
     margin-top: 0px !important;
   }

   .mt-sm-1 {
     margin-top: 1rem !important;
   }

   .mt-5 {
     margin-top: 0px !important;
   }

   .margin-23-auto {
     margin: 0px 23px;
   }

   #my_camera img {
    width: 93%;
    /* height: 488px; */
    height: 241px;
    margin-top: 16px !important;
   };

   .special_btn {
    cursor: pointer;
    padding: 10px 30px;
    background: white;
    border: 1px solid blue;
    border-radius: 5px;
    width: 100%;
    color: blue;
    margin-top: 20px;
   }

   .box {
    border: solid 1px blue;
    padding: 20px 38px;
    cursor: pointer;
    width: 134px;
    margin-top: 13px;
   }

   .flex-column {
    flex-direction: column;
    align-items: center;
   }
}
